{:deps    {}
 :paths   ["src"]
 :aliases {:holy-lambda
           {:replace-deps {org.clojure/clojure            {:mvn/version "1.10.3"}
                           io.github.FieryCod/holy-lambda {:local/root "/holy-lambda"}}}
           :holy-lambda-local
           {:replace-deps {org.clojure/clojure            {:mvn/version "1.10.3"}
                           io.github.FieryCod/holy-lambda {:local/root "../../../../"}}}}
 }
