{:deps    {org.clojure/clojure            {:mvn/version "1.10.3"}
           io.github.FieryCod/holy-lambda {:local/root "../../../../"}}
 :paths   ["src"]
 :aliases {:uberjar
           {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:aot        ["basic.example.core"]
                           :main-class "basic.example.core"
                           :jar        ".holy-lambda/build/output.jar"
                           :jvm-opts   ["-Dclojure.compiler.direct-linking=true"
                                        "-Dclojure.spec.skip-macros=true"]}}}
 }
