/target
.cpcache
.lsp
packaged.yaml
server
native-packaged.yaml
invoke-envs.json
fnative-envs.list
envs.example.json
/classes
/checkouts
profiles.clj
pom.xml.asc
envs.list
trace.js
*.jar
*.class
*.pyc
node_modules
/.lein-*
/.nrepl-port
.hgignore
.hg/
native-configuration/**
build
dist
.clj-kondo/.cache
.aws
output
docker/ee/**
!docker/ee/.gitkeep
target
.idea/
*.iml
.DS_Store
template-modified.yml
packaged.yml
