{:deps {org.clojure/clojure                              {:mvn/version "1.10.3"}
        metosin/jsonista                                 {:mvn/version "0.3.3"}
        io.github.FieryCod/holy-lambda-default-retriever {:mvn/version "0.0.6"}
        com.amazonaws/aws-lambda-java-core               {:mvn/version "1.2.1"}}
 :paths ["src"]}
