{:hooks   {:analyze-call {fierycod.holy-lambda.core/deflambda  clj-kondo.holy-lambda/deflambda}}
 :lint-as {fierycod.holy-lambda.core/definterceptor clojure.core/defn}
 :linters {:shadowed-var {:level :warning}}}
