{:deps {io.github.FieryCod/holy-lambda-babashka-tasks
        {:local/root "../../../../modules/holy-lambda-babashka-tasks"}}

 :min-bb-version "0.3.7"

 :holy-lambda/options {
                       :docker {:volumes [{:docker     "/holy-lambda"
                                           :host       "../../../../"}]

                                :network "host"

                                :image "fierycod/graalvm-native-image:ce"}

                       :build {:clj-alias nil
                               :graalvm-home nil}


                       :runtime
                       {

                        :pods                {org.babashka/aws "0.0.6"}

                        ;; For `:native` runtime you can provide your own bootstrap file
                        :bootstrap-file      "bootstrap"

                        ;; For `:native` runtime you can provide some native resources which will be available during lambda execution
                        ;; Resources are packed as is.
                        :native-deps         "resources"

                        ;; Specify custom arguments for native image generation
                        ;; Works only on `:native` runtime.
                        ;; Check https://www.graalvm.org/reference-manual/native-image/Options/
                        :native-image-args
                        ["--verbose"
                         "--no-fallback"
                         "--enable-url-protocols=http,https"
                         "--report-unsupported-elements-at-runtime"
                         "-H:+AllowIncompleteClasspath"
                         "--no-server"
                         "--initialize-at-build-time"]}}

 :tasks {:requires            ([holy-lambda.tasks])
         hl:docker:run        holy-lambda.tasks/hl:docker:run
         hl:native:conf       holy-lambda.tasks/hl:native:conf
         hl:native:executable holy-lambda.tasks/hl:native:executable
         hl:sync              holy-lambda.tasks/hl:sync
         hl:babashka:sync     holy-lambda.tasks/hl:babashka:sync
         hl:compile           holy-lambda.tasks/hl:compile
         hl:doctor            holy-lambda.tasks/hl:doctor
         hl:clean             holy-lambda.tasks/hl:clean
         hl:version           holy-lambda.tasks/hl:version}
 }
