{:deps {org.clojure/clojure            {:mvn/version "1.10.3"}
        io.github.FieryCod/holy-lambda {:local/root "../../../../"}
        com.cognitect.aws/api          {:mvn/version "0.8.515"}
        com.cognitect.aws/endpoints    {:mvn/version "1.1.12.13"}
        com.cognitect.aws/s3           {:mvn/version "811.2.934.0"}}

 :paths ["src" "resources"]

 :aliases {:uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                     :exec-fn      hf.depstar/uberjar
                     :exec-args    {:aot        ["hl.aws-bucket.core"]
                                    :main-class "hl.aws-bucket.core"
                                    :jar        ".holy-lambda/build/output.jar"
                                    :jvm-opts   ["-Dclojure.compiler.direct-linking=true"
                                                 "-Dclojure.spec.skip-macros=true"]}}}}
