{:deps {org.clojure/clojure                              {:mvn/version "1.10.3"}
        io.github.FieryCod/holy-lambda-default-retriever {:mvn/version "0.0.4"}
        io.github.FieryCod/holy-lambda-babashka-shim     {:mvn/version "0.1.33"}}}
