{:deps {org.clojure/clojure                              {:mvn/version "1.10.3"}
        io.github.FieryCod/holy-lambda                   {:mvn/version "0.1.45"}
        io.github.FieryCod/holy-lambda-babashka-shim     {:mvn/version "0.1.38"}}}
