{:name "aws-interop-v2.example.core.ExampleLambda",
 :request {:event {:event   {:pathParameters                         {}
                             :nextdoc.aws-lambda-client/native-conf? true},
                   :context {}},
           :context {}},
 :propagate true}
