{:deps {org.clojure/clojure            {:mvn/version "1.10.3"}
        io.github.FieryCod/holy-lambda {:mvn/version "0.1.45"}
        com.cognitect.aws/api          {:mvn/version "0.8.505"}
        com.cognitect.aws/endpoints    {:mvn/version "1.1.11.1001"}
        com.cognitect.aws/sqs          {:mvn/version "811.2.889.0"}}
 :mvn/local-repo ".holy-lambda/.m2"
 :paths ["src" "resources"]
 :aliases {}
 }
